h1 {
    color: #1f2937;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
/* 
p {
    font-size: 1.1rem;
    color: #4b5563;
    margin-bottom: 2rem;
} */

.btn {
    background: #2563eb;
}

.btn:hover {
    background: #1e40af;
}
